<ion-header>
  <ion-toolbar>
    <link href="https://fonts.googleapis.com/css?family=Allerta+Stencil&display=swap" rel="stylesheet">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      CO Springs Food Trucks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/foodtruck.png" alt="" />
    <ion-card-header>
      <ion-card-title>Looking for something to eat?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Are you looking for something new to eat? Explore Colorado Springs Food Trucks and support our small businesses!</p>
    </ion-card-content>
  </ion-card>

</ion-content>